#menu1{
    height: 15vh;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu11{
    height: 15vh;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu12{
    height: 15vh;
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu13{
    height: 15vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu14{
    height: 15vh;
    width: 100%;
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu15{
    height: 15vh;
    width: 100%;
    background-color: darkorchid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container1{
    height: 150vh;
    width: 100%;
    background-color: greenyellow;
}

#container2{
    height: 175vh;
    width: 100%;
    background-color: gold;
}

#container3{
    height: 145vh;
    width: 100%;
    background-color: aqua;
}

#container4{
    height: 165vh;
    width: 100%;
    background-color: hotpink;
}

#container5{
    height: 125vh;
    width: 100%;
    background-color: darkorchid;
}

.text-body{
    display: flex;
    justify-content: center;
}

.text-white{
    color: white;
}

.nav{
    display: flex;
    justify-content: center;
}

.container-seccion{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nav{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menunav2{
    margin-top: 20%;
}

.menunav3{
    margin-top: 10%;
}